* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 1rem;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
}

body {
    display: flex;
    justify-content: center;
}
.wrapper {
    width: 60%;
}
h1 {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}
.meme {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}
input {
    display: none;
    width: 0;
    height: 0;
}
label {
    display: block;
    max-height: 2.5rem;
    overflow: hidden;
    transition: all 0.7s ease-out;
}
.meme__title {
    transition: color 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}
label:hover {
    max-height: 25rem;
    cursor: pointer;
}
input:checked + label{
    max-height: 25rem;
}
input:checked + label .meme__title {
    color: black;
}
input:checked + label .meme__icon{
    background-image: url('./assets/icon_opened.png');
}
h2 {
    padding-bottom: 0.5rem;
    color: blue;
}
.wrapper:hover h2{
    color:black;
}
.meme__header {
    display: flex;
    justify-content: space-between;
}
.meme__icon {
    display: none;
    width: 1.5rem;
    height: 1.5rem;
    background-size: 1.5rem 1.5rem;
    background-image: url('./assets/icon_closed.png');
    transition: all 0.7s ease-out;
    transition: background-image 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}
.meme:hover .meme__icon {
    background-image: url('./assets/icon_opened.png');
}
.wrapper:hover .meme__icon{
    display: block;
}
.meme__image {
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    transition: all 0.7s ease-out;
    transition: opacity 0.2s ease-out;
}
.meme__image>img{
    width: 20rem;
}
.input:checked+label {
    max-height: 25rem;
}

@media (max-width: 81rem) {
    .title {
        font-size: 1.5em;
    }
    .meme__title {
        font-size: 1em;
        padding-bottom: 1.15rem;
    }
    .meme__image>img{
        width: auto;
    }
    .meme__icon{
        width: 1rem;
        height: 1rem;
        background-size: 1rem 1rem;
    }
}
@media (max-width: 31rem) {
    .title {
        font-size: 1em;
    }
    .meme__title {
        font-size: 0.6em;
        padding-bottom: 1.65rem;
        max-width: 80%;
    }
    .meme:hover .meme__title{
        max-width: 80%;
    }
    .meme__icon{
        width: 0.5rem;
        height: 0.5rem;
        background-size: 0.5rem 0.5rem;
    }
    .meme__image>img{
        width: 7.5rem;
    }
}
@media (hover: none) {
    .meme__icon{
        display: block;
    }
}
label:active>.meme__header>.meme__title{
    color:blue;
    opacity: 0.7;
}
label:active>.meme__header>.meme__icon{
    background-image: url(./assets/icon_opened_active.png);
    opacity: 0.7;
}
label:active>.meme__image{
    opacity: 0.7;
}
